@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.journey {
  position: relative;
  z-index: 1;
  padding-top: 100px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    gap: 24px;
  }

  li {
    &::before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    }

    img {
      width: 100%;
    }
  }

  h3 {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    text-align: center;
  }


  .title {
    margin-bottom: 50px;
  }

  .btn {
    margin: 0 auto;
  }
}
