@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.additional {
  $root: &;
  --margin: 100px;

  &__wrapper {
    display: flex;
    align-items: center;
    padding-right: max(16px, calc((100% - 1240px) / 2));
  }

  &__content {
    width: 570px;

    p {
      margin-bottom: 32px;
    }
  }

  &__image {
  
     margin-right: var(--margin);
    width: calc(100% - 570px - 100px);

    img {
      width: 100%;
    }
  }



  // &--reverse {
  //   #{$root}__wrapper {
  //     display: flex;
  //     align-items: center;
  //     padding-right: 0;
  //     padding-left: max(16px, calc((100% - 1320px) / 2));
  //   }

  //   #{$root}__image {
  //     margin-right: 0;
  //     margin-left: 184px;
  //   }
  // }

 
}