@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.blog {
  position: relative;
  padding-bottom: 150px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 38px;
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 947px;
    translate: 0 -38px;
    gap: 38px;
  }

  &__item {
    overflow: hidden;
    border-radius: 10px;

    &:first-of-type {
      translate: 0 53px;
    }
  }

  .subtext {
    width: 100%;
    max-width: 667px;
    translate: 192px 0;
  }

  h2 {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    font-size: clamp(1.5625rem, -0.8333rem + 10.6481vi, 8.75rem);
    line-height: 1.2;
    letter-spacing: -0.021em;
    text-align: center;

    span {
      padding-right: 181px;
      translate: 0 56px;
      display: inline-block;
    }
  }

  h3 {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: var(--color-black);
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }

    // &::after {
    //   @include mask;

    //   mask-image: url("../images/icons/arrow-small.svg");
    //   width: 18px;
    //   height: 16px;
    // }

    &:hover {
      color: var(--color-blue-200);
    }
  }

  &--main {

    .blog__list {
      translate: none;
    }

    .blog__item {
      min-height: 556px;

      &:first-of-type {
        translate: none;
      }

      img {
        height: 100%;
      }
    }

    h2 {
      margin-bottom: 48px;
    }
  }
}
