@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 900px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.2);
      inset: 0;
    }
  }

  &__content {
    position: relative;
    padding: 16px 0 77px;
    z-index: 1;

    .subtext {
      width: 100%;
      max-width: 400;
    }
  }

  h1 {
    margin-bottom: 147px;
    text-align: center;
  }

  &--double {
    #{$root}__content {
      padding-bottom: 61px;
    }

    #{$root}__inner {
      &::before {
        content: none;
      }
    }

    h1 {
      margin: 0 auto 101px;
      width: 100%;
      max-width: 864px;
      font-size: clamp(55px, 2.0833rem + 6.0185vi, 190px);
      line-height: 1.2;
      letter-spacing: -0.03em;
    }
  }

  &--articles {
    #{$root}__content {
      padding-bottom: 61px;
    }

    #{$root}__inner {
      min-height: 473px;
      &::before {
        content: none;
      }
    }

    h1 {
      margin: 0;
      font-size: clamp(25px, 1.0833rem + 2.1296vi, 48px);
      line-height: 1.2;
      letter-spacing: -0.03em;
    }
  }
}
