@use "../utils/functions/" as *;
@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.reviews {

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 100%;
    max-width: 947px;
    gap: 30px;
  }
 

  li {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  }


h3 {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.08em;
}


 
}
