@use "../../utils/functions/" as *;
@use "../../utils/mixins" as *;

.crafting {
  position: relative;
  z-index: 1;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 32px;
    gap: 24px;
  }

  li {
    padding-right: 65px;
  }

  &__content {
    position: relative;
    padding: 55px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(24px);

    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/icons/mount.svg");
      width: 108px;
      height: 108px;
    }
  }

  &__desc {
    padding-left: 140px;
  }

  .title {
    margin-bottom: 36px;
  }
}
